.page-container
	&.page-container_pad-1
		pl 65px
		pr 65px
	p
		mb 28px	
.page-wrapper		
	&.section
		fsize .97rem
		lht 1.5rem	
	.section__article
		maxWth 600px
.section__article		
	&.section__article_width-1
		maxWth 625px

.social
	&.social__box
		& > a
			w 35px
			h 35px
			bgPos((center)imp())
.social__box
	.social__facebook
		bgSize((35%)imp())
	.social__instagram
		bgSize((45%)imp())
	.social__twitter
		bgSize((50%)imp())
	.social__youtube
		bgSize((40%)imp())	