.flex
	dflex() 
.f-between
	justify-content space-between
.f-center
	justify-content center
.f-middle
	align-items center
.f-grow-1
	flex-grow 1
.f-grow-2
	flex-grow 2
.f-grow-3
	flex-grow 3	
.f-wrap
	flex-wrap wrap							
	
.label
	&.l1	
		& + .label.l1
			mt 25px	