$FONT  = "Roboto Thin"
$FONT2 = "Roboto Light"
$FONT3 = "Roboto Regular"
$FONT4 = "Roboto Medium"
$FONT5 = "Roboto Bold"
$FONT6 = "Roboto Black"

@font-face
  font-family: $FONT
  src: url(lib/fonts/Roboto-Thin.ttf) format('truetype')
  font-weight normal
  font-style normal
  
@font-face
  font-family: $FONT2
  src: url(lib/fonts/Roboto-Light.ttf) format('truetype')
  font-weight normal
  font-style normal
 
@font-face
  font-family: $FONT3
  src: url(lib/fonts/Roboto-Regular.ttf) format('truetype')
  font-weight normal
  font-style normal
  
@font-face
  font-family: $FONT4
  src: url(lib/fonts/Roboto-Medium.ttf) format('truetype')
  font-weight normal
  font-style normal
  
@font-face
  font-family: $FONT5
  src: url(lib/fonts/Roboto-Bold.ttf) format('truetype')
  font-weight normal
  font-style normal
  
@font-face
  font-family: $FONT6
  src: url(lib/fonts/Roboto-Black.ttf) format('truetype')
  font-weight normal
  font-style normal  