.icon
	dinblock()
	vertical-align: top
	bgPos(center)
	bgNR()
	bgSize(contain)
	tPD(.3s)
	&.icon-db 
		dblock()
			
.ava
	dinblock()
	vertical-align top
	w 50px
	h 50px
	bRad(50%)
	b(2px solid $color1-1)
	bbox()
	bgPos(center)
	bgSize(cover)
	bgNR()