.icon
	dinblock()
	vertical-align: top
	bgPos(center)
	bgNR()
	bgSize(contain)
	tPD(.3s)
	&.icon-db 
		dblock()
	&.ic-about
		w 164px
		h 123px
		&.ic-1
			bgImg url(pics/icons/i-about-1.svg)
		&.ic-2
			bgImg url(pics/icons/i-about-2.svg)
		&.ic-3
			bgImg url(pics/icons/i-about-3.svg)
		&.ic-4
			bgImg url(pics/icons/i-about-4.svg)
		&.ic-5
			bgImg url(pics/icons/i-about-5.svg)
		&.ic-6
			bgImg url(pics/icons/i-about-6.svg)						
			
.ava
	dinblock()
	vertical-align top
	w 50px
	h 50px
	bRad(50%)
	b(2px solid $color1-1)
	bbox()
	bgPos(center)
	bgSize(cover)
	bgNR()
	

/* animate decor */	
.decor
	posabs()
	zIn 1
	tPD(.3s)
	&.decor__elem-1
		w 570px
		fill $color7-1
		t -285px
		l -12px
	&.decor__elem-2
		w 60px
		fill $color6-1
		bottom 50%
		l -20px
	&.decor__elem-3
		w 38px
		fill $color8-1
		bottom 33.33%
		mb -90px
		l 155px
	&.decor__elem-4
		w 60px
		fill $color8-1
		t 33.33%
		mt 124px
		r -30px
	&.decor__elem-5
		w 90px
		fill $color4-4
		t 33.33%
		mt 189px
		r 72px
	&.decor__elem-6
		w 70px
		fill $color7-1
		bottom -35px
		r 125px					
	&.decor__elem-7
		w 982px
		fill $color7-1
		t -145px
		r 50%
		mr -122px
	&.decor__elem-8
		w 25px
		fill $color8-1
		t 69px
		l 162px
		zIn 2
	&.decor__elem-9
		w 25px
		fill $color6-1
		bottom 52px
		l 50%
		ml 90px
	&.decor__elem-10
		w 321px
		fill $color6-1
		bottom 0
		l 50%
		ml 90px
		mb -259px
	&.decor__elem-11
		w 100px
		fill $color8-1
		t 40px
		r 25%
		mr 35px	
	&.decor__elem-12
		w 50px
		fill $color7-1
		t 119px
		r 25%
		mr -26px
	&.decor__elem-13
		w 554px
		fill $color4-4
		t -189px
		r -104px		
	&.decor__elem-14
		w 77px
		fill $color4-4
		bottom -39px
		r 145px		