.popups-box 
	.popup-item
		p(30px 20px 30px 35px)
		.popup-close
			t 15px
		&.popup-item__width-2
			maxWth 450px
			p(50px 50px 30px 50px)
			.popup-close
				r 11px
			.title
				mb 15px
		&.popup-item__width-3
			maxWth 400px
			p(50px 50px 30px 50px)
			.popup-close
				r 11px
			.title
				mb 15px	
				pl 32px
				&:before
					l 32px		
	.popup__txt-1
		fsize 14px
	.popup__txt-2
		fsize 14px				
	.form__input
		& + .form__input
			mt 20px
	.popup__soc-auth
		mb 20px		