/*html, body
  padding 0px
  margin 0px
  ffam($FONT3)
  background-size cover*/
     
  
/*body
  dflex()   
.class  
  width: "calc(100% - %s - %s)" % ($padding-main-wrap-l $padding-main-wrap-r) 
.class2
  width: "calc(100% - %s)" % $padding-main-wrap-r   

  */
  
.ov-hidden
  overflow hidden  

button, input[type=submit], input[type=button], input[type=reset]
  crossB(appearance,none)
  
dev-view(devt='')
  .dev-dn-{devt} 
    display none !important
  .dev-db-{devt}
    display block !important
  .dev-dib-{devt}
    display inline-block !important
  .dev-dflex-{devt}
    display flex !important
  
row-cols(rc,dsuf='') 
  for rc in 1..100
    .col{dsuf}-{rc}
      width (rc*1%) !important
 
row-cols-divid(rcnum,rcmax,rcdev='') 
  for rcmax in 3..12  
    for rcnum in 1..rcmax
      .col{rcdev}-{rcnum}-{rcmax} 
        width (100%/rcmax*rcnum) !important
        
dev-view(devt='main')        
row-cols(rc,dsuf='')         
row-cols-divid(rcnum,rcmax,rcdev='')    
  
@media all and (max-width $device_size_full)
  dev-view(devt='full')      
  row-cols(rc,dsuf=$device_suff_full)  
  row-cols-divid(rcnum,rcmax,rcdev=$device_suff_full)       
@media all and (max-width $device_size_lap)
  dev-view(devt='lap')
  row-cols(rc,dsuf=$device_suff_lap)  
  row-cols-divid(rcnum,rcmax,rcdev=$device_suff_lap)   
@media all and (max-width $device_size_desk)
  dev-view(devt='desk')
  row-cols(rc,dsuf=$device_suff_desk)  
  row-cols-divid(rcnum,rcmax,rcdev=$device_suff_desk)   
@media all and (max-width $device_size_pad)
  dev-view(devt='pad')
  row-cols(rc,dsuf=$device_suff_pad)
  row-cols-divid(rcnum,rcmax,rcdev=$device_suff_pad)   
@media all and (max-width $device_size_mob)
  dev-view(devt='mob')
  row-cols(rc,dsuf=$device_suff_mob)   
  row-cols-divid(rcnum,rcmax,rcdev=$device_suff_mob)          

/*img border  none
button,input,select,textarea
  font-family $FONT3
  fwht 100
  outline  none*/

.page-wrapper
  posrel()
  &.section
    minHt initial
    pt 0 
    pb 0
.page-container
  maxWth $WIDTH
  w 100%
  margin 0px auto
  bbox()
  &.page-container_pad-1
      pl 41px
      pr 41px
  &.section__content
    maxWth $WIDTH
    zIn 2
  p
    tali justify
    //fsize 77% 
  .section__article
    mb 0     

 
.section__article
  &.section__article_width-1
    maxWth 685px
    mb 0
    
.section__content_wide
  &.v2 
    p
      &:before
        dblock()

.tac
  tcenter()
.tar
  tright()
.tal
  tleft()

.l
  float left
.r
  float right

.both
  clear both
.res
  display  none
  c $COLOR
  tcenter()

.tbclear
  clear()

.row
  clear()
  dflex()
  flex-wrap wrap
  ml -15px
  mr -15px
.col
  pl 15px
  pr 15px
  bbox()

.none
  dnone()   

marg(zt)
for zt in 0..100
  .mt-{zt}
    mt((1px*zt)imp())
  .mr-{zt}
    mr((1px*zt)imp())
  .mb-{zt}
    mb((1px*zt)imp())
  .ml-{zt}
    ml((1px*zt)imp())
marg(0,300)

padd(rt)
for rt in 0..100
  .pt-{rt}
    pt((1px*rt)imp())
  .pr-{rt}
    pr((1px*rt)imp())
  .pb-{rt}
    pb((1px*rt)imp())
  .pl-{rt}
    pl((1px*rt)imp())
padd(0,300)


.pointer
  cPoint()

.logo
  dinblock()
  vertical-align top
  img
    dblock()
    w 100%
  span
    dblock()
    fsize 26px
    ffam($FONT5)
    lh 1.18
    ttUp() 
    c $color1-1
  
.fake-head
  h 165px
  
.navi_colored
  bgColor $color6-1
  
.footer_fix-bottom
  possti() 
  t 100%      
    

.roller 
  posrel()
  ov auto
  &.roller__height-1
    h 53.75vh
    maxHt 516px
    //h 450px  
  .scrollbar-track-y
    w 17px
    &:before
      w 1px
      h 100%
      l 50%
      t 0
  .scrollbar-track-x
    h 17px
    &:before
      h 1px
      w 100%
      l 0
      t 50%    
  .scrollbar-track
    bgColor transparent
    &:before
      content ''
      posabs()
      zIn 1
      bgColor $color3-5
  .scrollbar-thumb
    w 17px
    h 17px
    bRad 8px
    bgColor $color6-1
    posrel()
    zIn 2
    cPoint()