.icon
	&.ic-about
		w 155px
	&.ic-appstore
		w 190px
		h 63px
	&.ic-appstore-o
		w 190px
		h 63px		

/* animate decor */	
.decor
	tf(scale(0.9))
	&.decor__elem-1
		l -42px
	&.decor__elem-7
		r auto
		mr 0
		l -148px
	&.decor__elem-22
		w 80px
		t 22px
		l 27px
	&.decor__elem-23
		w 402px
		bottom 8px
	&.decor__elem-24
		w 125px
		l 173px
		bottom 133px
	&.decor__elem-25
		w 50px
		bottom 64px
		l 90px
	&.decor__elem-26
		w 342px
	&.decor__elem-27
		w 50px
		t 112px
	&.decor__elem-28
		w 170px
		r 220px		
	&.decor__elem-29
		bottom 83px	
	&.decor__elem-30
		l -60px
		t -415px				
	&.decor__elem-32
		l -160px
		t -410px	
	
	&.decor__img-1
		w 50vw
		tf(scale(1))		

	&.decor__square-1
		w 533px
	&.decor__square-3
		w 170px	
	&.decor__square-4
		w 285px
	&.decor__square-5
		w 240px
		bottom -25px					