.page-container
	.title
		fsize 2rem
		lht 2.2rem
		mb 30px
		span
			fsize 3.8rem
			lht 4rem
			

/* list */
ul, ol
	&.list
		&.list_type-1
			li
				&:before
					t 9px			
			

.page-wrapper
	.content-box
		ul			
			li
				&:before
					t 10px