#package-lock.json
#node_modules/
#src/
#.vscode/
#*.rar
#*.zip
#.DS_Store
#Thumbs.db
#gulpfile.js
#readme.md
#package.json

node_modules/
src/
*.json
*.log
gulpfile.coffee
gulpfile.js
.htaccess
.sublime-gulp.cache