<IfModule mod_rewrite.c>
RewriteEngine on
Options +FollowSymlinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*[^/])$ /$1/ [L,R=301]

AddDefaultCharset utf-8

RewriteRule ^admin/$ admin/index.php [L]
</ifModule>