.popups-box 
	.popup-item
		p(30px 15px)
		&.popup-item__width-1
			w 95%
		&.popup-item__width-2
			p(40px 20px 20px)	
		.popup-close
			r 15px	
	.popup-close
		w 30px
		h 30px		
	.popup__txt-1
		fsize 12px			