section.page-wrapper.section.section_knows.page_about
	.section__decor
		svg.decor.decor__elem-1(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		svg.decor.decor__elem-2(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		svg.decor.decor__elem-3(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		svg.decor.decor__elem-4(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		svg.decor.decor__elem-5(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
	svg.decor.decor__elem-6(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
		circle(cx="50" cy="50" r="50")
	.section__content.page-container.page-container_pad-1
		.indent
			h1.purpose__title.title О <span>нас</span>
			p ДИАГНОСТ как проект был запущен в 2018 году в основном как онлайн приложение превентивной медицины и медицины против старения (антиэйджинг). Позже мы расширили наш сервис и запустили единую платформу на веб-сайте «ДИАГНОСТ» с целью распространения наших услуг в области персонализированной медицины. ДИАГНОСТ - это мощный и современный инструмент для мониторинга вашего здоровья и улучшения качества вашей жизни.
		.indent.flex
			.icon.ic-about.ic-1.f-shrink-0
			.indent_pl-t1.item-text__border-none
				h2.how__item-title.how__item-title_tal.item-title__fs-t1 НАША МИССИЯ
				p.mb-0 Миссия ДИАГНОСТ заключается в предоставлении всем надежной и достоверной информации о том, как предотвратить заболевания и повысить качество жизни. Наша миссия основана на пяти основных принципах: персонализация, безопасность, точность, образование и инновации.	
		.indent.flex
			.icon.ic-about.ic-2.f-shrink-0
			.indent_pl-t1.item-text__border-none
				h2.how__item-title.how__item-title_tal.item-title__fs-t1 Персонализация
				p.mb-0 Наши медицинские специалисты определяют референсные и оптимальные диапазоны клинических и медицинских параметров для отдельно взятого пациента на основании его возраста, симптомов и текущего приема препаратов (включая гормональные добавки). Все отчеты рассматриваются с индивидуальными комментариями и интерпретациями, и могут включать результаты предыдущих тестов, с целью изучения динамических изменений в биомаркерах. ДИАГНОСТ предоставляет специализированные и подробные консультации с медицинскими экспертами с последующим составлением индивидуальной программы лечения.
		.indent.flex
			.icon.ic-about.ic-3.f-shrink-0
			.indent_pl-t1.item-text__border-none
				h2.how__item-title.how__item-title_tal.item-title__fs-t1 Безопасность
				p.mb-0 ДИАГНОСТ дорожит своей репутацией, и для нас первостепенное значение имеет максимально возможное сохранение любой информации наших клиентов. Ни ДИАГНОСТ, ни наши партнеры не делятся и не передают медицинскую и личную информацию третьим лицам.
		.indent.flex
			.icon.ic-about.ic-4.f-shrink-0
			.indent_pl-t1.item-text__border-none
				h2.how__item-title.how__item-title_tal.item-title__fs-t1 Точность
				p.mb-0 ДИАГНОСТ работает только с сертифицированными и аккредитованными партнерами, которые используют современные технологии и инновационные методы в диагностике. Наши основные ключевые параметры в тестировании - это высокая точность и качество процедур и параметров. Функциональность тестов должна давать полезные и правильные результаты с целью обеспечения корректности принятия решений о лечении и назначение индивидуальной программы.
		.indent.flex
			.icon.ic-about.ic-5.f-shrink-0
			.indent_pl-t1.item-text__border-none
				h2.how__item-title.how__item-title_tal.item-title__fs-t1 Образование
				p.mb-0 ДИАГНОСТ постоянно развивается и для этого предоставляет своим пользователям блог-портал с образовательными материалами. Наша команда проводит обучающие тренинги и семинары для пациентов или специалистов в области превентивной медицины, борьбы со старением и эндокринологии.
		.indent.flex
			.icon.ic-about.ic-6.f-shrink-0
			.indent_pl-t1.item-text__border-none
				h2.how__item-title.how__item-title_tal.item-title__fs-t1 Инновации
				p.mb-0 ДИАГНОСТ поддерживает и признает лидеров в области диагностики и инновационных методов или техник, и гордится сотрудничеством с ними. ДИАГНОСТ открыт для новых открытий, новых технологий и попыток внести их в мир превентивной медицины и антиэйджинга и, наконец, для конечного пользователя – для вас!