section.page-wrapper.section.section_application.page_app
	.section__decor
		svg.decor.decor__square-1(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			rect(width="100" height="100")
		svg.decor.decor__square-2(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			rect(width="100" height="100")
		svg.decor.decor__square-3(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			rect(width="100" height="100")
		svg.decor.decor__square-4(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			rect(width="100" height="100")
	svg.decor.decor__square-5(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			rect(width="100" height="100")
	img.decor.decor__img-1(src="pics/back/mobiles-1.png" alt="")
	.section__content.page-container.page-container_pad-1
		.section__article.section__article_width-1
			.flex.f-between.f-middle
				h1.section__title.title Приложение
					span diagnost
				a.icon.ic-appstore(href="#" target="_blank")
			.border-decor.border-decor__child.border-decor__color-3.border-decor__odd
				p ДИАГНОСТ является интегрированной платформой профилактической медицины с целью мониторинга вашего здоровья. Наша задача - улучшить качество вашей жизни. Платформа ДИАГНОСТ содержит множество учебных материалов в нашем блоге о здоровье, страницу личного кабинета, описание медицинских показателей и многое другое.
				p Для того, чтобы вы могли отслеживать показатели своего здоровья в любое время и в любом месте, вы можете это сделать с нашим приложением ДИАГНОСТ iOS, которое мы создали специально для вас.
				p ДИАГНОСТ предлагает различные тесты для изучения вашего организма, понимания вашего здоровья и углубления в конкретные области физиологии, такие как:
				ul.list.list_type-1.mb-0
					li Энергетический метаболизм
					li Иммунная система	
					li Управление весом	
					li Сердечно-сосудистая система	
					li Баланс сна
					li Питание
					li Сексуальное поведение
					li Сознание и настроение