section.page-wrapper.section.page_indicator
  .section__decor
    svg.decor.decor__elem-15(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-16(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-17(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-18(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-19(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-20(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-21(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
  .section__content.page-container.page-container_pad-1
    h1.section__title.title.title_color-1
      span Индикаторы
    .border-decor.border-decor__color-1
      .row
        .col.col-50.col-mob-100
          ul.list.list_easy
            li
              span.pointer._open-popup(data-link-to-popup="i1") Креатинин 
            li
              span.pointer._open-popup(data-link-to-popup="i1") Эстрогенные гормоны: эстрон (E1)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Эстрогенные гормоны: эстрадиол (E2)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Эстрогенные гормоны: эстриол (E3)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Общий уровень всех эстрогенов (E1 + E2 + E3)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Метаболиты Фазы I: 2-гидроксиэстрон (2OHE1)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Метаболиты Фазы I: 16-альфа-гидроксиэстрон (16aOHE1)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Метаболиты Фазы I: 4-гидроксиэстрон (4OHE1)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Фаза I Соотношение метаболитов: 2/16
            li
              span.pointer._open-popup(data-link-to-popup="i1") Метаболиты фазы II: 2-метоксиэстрон и 2-метоксиэстрадиол (метоксиэстрогены)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Прогестерон: 5бета-прегнандиол (5b-прегнандиол)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Андрогены: дегидроэпиандростерон или ДГЭА
            li
              span.pointer._open-popup(data-link-to-popup="i1") Андрогены: aндростерон
            li
              span.pointer._open-popup(data-link-to-popup="i1") Андрогены: этиохоланолон
            li
              span.pointer._open-popup(data-link-to-popup="i1") Андрогены: тестостерон
            li
              span.pointer._open-popup(data-link-to-popup="i1") Андрогены: Дигидротестостерон или ДГТ
            li
              span.pointer._open-popup(data-link-to-popup="i1") Андрогены: 5-альфа- и 5-бета- андростандиол (5α- и 5β- андростандиол)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Глюкокортикоиды: прегнанетриол
            li
              span.pointer._open-popup(data-link-to-popup="i1") Глюкокортикоиды: кортизон (E)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Глюкокортикоиды: кортизол (F)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Резерв надпочечников (THE + 5a-THF + THF)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Метаболиты минералокортикоидов: аллотетрагидрокортикостерон (5α-THB), тетрагидрокортикостерон (THB), 11-дегидротетрагидрокортикостерон (THA)
        .col.col-50.col-mob-100
          .dev-dn-main.dev-db-mob.pt-4
          ul.list.list_easy
            li
              span.pointer._open-popup(data-link-to-popup="i1") Мелатонин: 6-сульфатоксимелатонин (MT6s)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Гормоны щитовидной железы: свободный T3
            li 
              span.pointer._open-popup(data-link-to-popup="i1") Гормоны щитовидной железы: свободный T4
            li
              span.pointer._open-popup(data-link-to-popup="i1") Органические кислоты: кинуреновая и ксантуреновая кислоты
            li
              span.pointer._open-popup(data-link-to-popup="i1") Витамин D
            li
              span.pointer._open-popup(data-link-to-popup="i1") Инсулин        
            li
              span.pointer._open-popup(data-link-to-popup="i1") С-реактивный белок (СРБ)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Гемоглобин А1с (HbA1c)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Триглицериды
            li
              span.pointer._open-popup(data-link-to-popup="i1") Холестерин
            li
              span.pointer._open-popup(data-link-to-popup="i1") Липопротеины высокой плотности или ЛПВП
            li
              span.pointer._open-popup(data-link-to-popup="i1") Липопротеины низкой плотности или ЛПНП
            li
              span.pointer._open-popup(data-link-to-popup="i1") Липопротеины очень низкой плотности или ЛПОНП
            li
              span.pointer._open-popup(data-link-to-popup="i1") Свободный кортизол / кортизон в моче (4 –х точечный)
            li
              span.pointer._open-popup(data-link-to-popup="i1") Cистолическое артериальное давление
            li
              span.pointer._open-popup(data-link-to-popup="i1") Диастолическое артериальное давление
            li
              span.pointer._open-popup(data-link-to-popup="i1") Частота сердечных сокращений
            li
              span.pointer._open-popup(data-link-to-popup="i1") Тромбоциты
            li
              span.pointer._open-popup(data-link-to-popup="i1") Мочевая кислота
            li
              span.pointer._open-popup(data-link-to-popup="i1") Аланинаминотрансфераза или АЛТ
            li
              span.pointer._open-popup(data-link-to-popup="i1") Альбумин
            li
              span.pointer._open-popup(data-link-to-popup="i1") Ферритин
            li
              span.pointer._open-popup(data-link-to-popup="i1") Глюкоза        
                                