section.page-wrapper.section.section_application.page_info
	.section__content.page-container.page-container_pad-1
		.content-box
			h2 Что внутри теста Метабокардио чекап:
			p Заказав тест через наш веб-сайт или приложение, вы получите комплект с подробной инструкцией и следующим содержанием:
			ul
				li 1 карточка с фильтровальной бумагой для сбора материала
				li 2 ланцета
				li 1 форма заявки
				li 1 пластиковый пакетик
				li 1 конверт для обратной отправки
				li 1 анкета
			h3 Процесс тестирования:
			p Процесс сбора биоматериала теста МЕТАБОКАРДИО ЧЕКАП в домашних условиях интуитивно прост. После того как вы соберете свой образец крови на специальную фильтровальную бумагу и высушите его (около 30 минут), вы отправите образец обратно в конверте, предоставленным в тесте и дождитесь получения результатов. В целом, это занимает 4-6 недель с даты отправки образцов. Позже вы получите от нас уведомление на электронную почту о том, что ваш тест готов и у вас есть доступ для просмотра отчета с интерпретацией данных.
			h2 Краткий обзор результатов:
			p Вы получите уникальный и индивидуальный анализ ваших рисков для ССЗ. Скрининг профиля основных показателей наряду с клинической оценкой позволит впоследствии интерпретировать результаты и даст возможность для планирования и создания индивидуальной программы лечения. Вот вам пример того, как будут выглядеть ваш отчет.
		a.button.mt-17(href="./") Купить	
