section.page-wrapper.section.page_orders-history
	.section__decor
		svg.decor.decor__elem-30(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
	.section__content.page-container.page-container_pad-1
		h1.section__title.title.title_color-1 <span>История покупок</span>
		.faq__list._faq-list.border-decor.border-decor__parent.border-decor__color-1
			.faq__item._faq-item#faq1
				.faq__head._faq-head(data-href="#faq1")
					.row.r10
						.col.col-26.col-mob-50
							.faq__txt-1 №000000
						.col.col-24.col-mob-50.col-pad-22
							.faq__txt-2 
								span.dev-dn-pad 25 августа 2020
								span.dev-dn-main.dev-db-pad 25.08.2020
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 У курьера
						.col.col-26.col-mob-50
							.faq__txt-2 <b>15 000</b> руб.
				.faq__body._faq-body(style="display:none")
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Метабокардио чекап	
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 2 шт
						.col.col-26.col-mob-50
							.faq__txt-2 10 000 руб.
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Полный чекап
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 1 шт
						.col.col-26.col-mob-50
							.faq__txt-2 5 000 руб.
			.faq__item._faq-item#faq2
				.faq__head._faq-head(data-href="#faq2")
					.row.r10
						.col.col-26.col-mob-50
							.faq__txt-1 №000000
						.col.col-24.col-mob-50.col-pad-22
							.faq__txt-2 
								span.dev-dn-pad 25 августа 2020
								span.dev-dn-main.dev-db-pad 25.08.2020
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 Закрыт
						.col.col-26.col-mob-50
							.faq__txt-2 <b>15 000</b> руб.
				.faq__body._faq-body(style="display:none")
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Метабокардио чекап	
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 2 шт
						.col.col-26.col-mob-50
							.faq__txt-2 10 000 руб.
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Полный чекап
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 1 шт
						.col.col-26.col-mob-50
							.faq__txt-2 5 000 руб.
			.faq__item._faq-item#faq3
				.faq__head._faq-head(data-href="#faq3")
					.row.r10
						.col.col-26.col-mob-50
							.faq__txt-1 №000000
						.col.col-24.col-mob-50.col-pad-22
							.faq__txt-2 
								span.dev-dn-pad 25 августа 2020
								span.dev-dn-main.dev-db-pad 25.08.2020
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 У курьера
						.col.col-26.col-mob-50
							.faq__txt-2 <b>15 000</b> руб.
				.faq__body._faq-body(style="display:none")
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Метабокардио чекап	
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 2 шт
						.col.col-26.col-mob-50
							.faq__txt-2 10 000 руб.
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Полный чекап
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 1 шт
						.col.col-26.col-mob-50
							.faq__txt-2 5 000 руб.
			.faq__item._faq-item#faq4
				.faq__head._faq-head(data-href="#faq4")
					.row.r10
						.col.col-26.col-mob-50
							.faq__txt-1 №000000
						.col.col-24.col-mob-50.col-pad-22
							.faq__txt-2 
								span.dev-dn-pad 25 августа 2020
								span.dev-dn-main.dev-db-pad 25.08.2020
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 Закрыт
						.col.col-26.col-mob-50
							.faq__txt-2 <b>15 000</b> руб.
				.faq__body._faq-body(style="display:none")
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Метабокардио чекап	
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 2 шт
						.col.col-26.col-mob-50
							.faq__txt-2 10 000 руб.
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Полный чекап
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 1 шт
						.col.col-26.col-mob-50
							.faq__txt-2 5 000 руб.
			.faq__item._faq-item#faq5
				.faq__head._faq-head(data-href="#faq5")
					.row.r10
						.col.col-26.col-mob-50
							.faq__txt-1 №000000
						.col.col-24.col-mob-50.col-pad-22
							.faq__txt-2 
								span.dev-dn-pad 25 августа 2020
								span.dev-dn-main.dev-db-pad 25.08.2020
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 У курьера
						.col.col-26.col-mob-50
							.faq__txt-2 <b>15 000</b> руб.
				.faq__body._faq-body(style="display:none")
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Метабокардио чекап	
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 2 шт
						.col.col-26.col-mob-50
							.faq__txt-2 10 000 руб.
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Полный чекап
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 1 шт
						.col.col-26.col-mob-50
							.faq__txt-2 5 000 руб.
			.faq__item._faq-item#faq6
				.faq__head._faq-head(data-href="#faq6")
					.row.r10
						.col.col-26.col-mob-50
							.faq__txt-1 №000000
						.col.col-24.col-mob-50.col-pad-22
							.faq__txt-2 
								span.dev-dn-pad 25 августа 2020
								span.dev-dn-main.dev-db-pad 25.08.2020
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 Закрыт
						.col.col-26.col-mob-50
							.faq__txt-2 <b>15 000</b> руб.
				.faq__body._faq-body(style="display:none")
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Метабокардио чекап	
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 2 шт
						.col.col-26.col-mob-50
							.faq__txt-2 10 000 руб.
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Полный чекап
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 1 шт
						.col.col-26.col-mob-50
							.faq__txt-2 5 000 руб.
			.faq__item._faq-item#faq7
				.faq__head._faq-head(data-href="#faq7")
					.row.r10
						.col.col-26.col-mob-50
							.faq__txt-1 №000000
						.col.col-24.col-mob-50.col-pad-22
							.faq__txt-2 
								span.dev-dn-pad 25 августа 2020
								span.dev-dn-main.dev-db-pad 25.08.2020
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 У курьера
						.col.col-26.col-mob-50
							.faq__txt-2 <b>15 000</b> руб.
				.faq__body._faq-body(style="display:none")
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Метабокардио чекап	
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 2 шт
						.col.col-26.col-mob-50
							.faq__txt-2 10 000 руб.
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Полный чекап
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 1 шт
						.col.col-26.col-mob-50
							.faq__txt-2 5 000 руб.
			.faq__item._faq-item#faq8
				.faq__head._faq-head(data-href="#faq8")
					.row.r10
						.col.col-26.col-mob-50
							.faq__txt-1 №000000
						.col.col-24.col-mob-50.col-pad-22
							.faq__txt-2 
								span.dev-dn-pad 25 августа 2020
								span.dev-dn-main.dev-db-pad 25.08.2020
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 Закрыт
						.col.col-26.col-mob-50
							.faq__txt-2 <b>15 000</b> руб.
				.faq__body._faq-body(style="display:none")
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Метабокардио чекап	
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 2 шт
						.col.col-26.col-mob-50
							.faq__txt-2 10 000 руб.
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Полный чекап
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 1 шт
						.col.col-26.col-mob-50
							.faq__txt-2 5 000 руб.
			.faq__item._faq-item#faq9
				.faq__head._faq-head(data-href="#faq9")
					.row.r10
						.col.col-26.col-mob-50
							.faq__txt-1 №000000
						.col.col-24.col-mob-50.col-pad-22
							.faq__txt-2 
								span.dev-dn-pad 25 августа 2020
								span.dev-dn-main.dev-db-pad 25.08.2020
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 У курьера
						.col.col-26.col-mob-50
							.faq__txt-2 <b>15 000</b> руб.
				.faq__body._faq-body(style="display:none")
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Метабокардио чекап	
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 2 шт
						.col.col-26.col-mob-50
							.faq__txt-2 10 000 руб.
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Полный чекап
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 1 шт
						.col.col-26.col-mob-50
							.faq__txt-2 5 000 руб.
			.faq__item._faq-item#faq10
				.faq__head._faq-head(data-href="#faq10")
					.row.r10
						.col.col-26.col-mob-50
							.faq__txt-1 №000000
						.col.col-24.col-mob-50.col-pad-22
							.faq__txt-2 
								span.dev-dn-pad 25 августа 2020
								span.dev-dn-main.dev-db-pad 25.08.2020
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 Закрыт
						.col.col-26.col-mob-50
							.faq__txt-2 <b>15 000</b> руб.
				.faq__body._faq-body(style="display:none")
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Метабокардио чекап	
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 2 шт
						.col.col-26.col-mob-50
							.faq__txt-2 10 000 руб.
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Полный чекап
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 1 шт
						.col.col-26.col-mob-50
							.faq__txt-2 5 000 руб.
			.faq__item._faq-item#faq11
				.faq__head._faq-head(data-href="#faq11")
					.row.r10
						.col.col-26.col-mob-50
							.faq__txt-1 №000000
						.col.col-24.col-mob-50.col-pad-22
							.faq__txt-2 
								span.dev-dn-pad 25 августа 2020
								span.dev-dn-main.dev-db-pad 25.08.2020
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 У курьера
						.col.col-26.col-mob-50
							.faq__txt-2 <b>15 000</b> руб.
				.faq__body._faq-body(style="display:none")
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Метабокардио чекап	
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 2 шт
						.col.col-26.col-mob-50
							.faq__txt-2 10 000 руб.
					.row.r10.indent.i-1
						.col.col-26.dev-dn-pad
						.col.col-24.col-mob-100.col-pad-48
							.faq__txt-2
								b Полный чекап
						.col.col-24.col-mob-50.col-pad-26
							.faq__txt-2 1 шт
						.col.col-26.col-mob-50
							.faq__txt-2 5 000 руб.																				
