section.page-wrapper.section.page_basket
	.section__decor
		svg.decor.decor__elem-32(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
	.section__content.page-container.page-container_pad-1
		h1.section__title.title.title_color-1 <span>Корзина</span>
		.content-box.content-box__color-1.p__mb-none.border-decor.border-decor__parent.border-decor__color-1
			p
				b Заказ оплачен. Спасибо за покупку!