section.page-wrapper.section.section_where.where.page_partner
  .section__decor
    svg.decor.decor__elem-7(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-8(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-9(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-10(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-11(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-12(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-13(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")
    svg.decor.decor__elem-14(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
      circle(cx="50" cy="50" r="50")                
  .section__content.page-container.page-container_pad-1
    .section__article
      h3.section__title.title Наши партнерские
        span лаборатории
      .where__text.p__mb-none
        p ДИАГНОСТ сотрудничает с несколькими частными и высоко специализированными лабораториями из США, которые проводят анализ крови, мочи и слюны. Эти лаборатории сертифицированы и аккредитованы различными международными, местными органами власти и организациями, что подтверждает достоверность и точность всех методов и техник, используемых лабораториями. Инновационный подход и высокие стандарты качества являются ключевыми факторами данных лабораторий.