section.page-wrapper.section.page_basket
	.section__decor
		svg.decor.decor__elem-32(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
	.section__content.page-container.page-container_pad-1
		h1.section__title.title.title_color-1 <span>Оплата</span>
		.indent.i-5.flex.f-pad-column
			.section__article.col-48.col-desk-70.col-pad-100.indent_mr-3
				.indent.i-4.border-decor.border-decor__parent.border-decor__color-1
					.indent.i-2.indent__mob_col-mt-1
						.row
							.col.col-50.col-mob-100
								input.form__input.v2.form__input_email.mr-0.col-100(type="text" placeholder="Имя" value="Константин")
							.col.col-50.col-mob-100
								input.form__input.v2.form__input_email.mr-0.col-100(type="text" placeholder="Фамилия" value="Константинопольский")
					.indent.i-2
						input.form__input.v2.form__input_email.mr-0.col-100(type="text" placeholder="Email")
					.indent.i-2.indent__mob_col-mt-1
						.row
							.col.col-50.col-mob-100
								input.form__input.v2.form__input_email.mr-0.col-100(type="text" placeholder="+7 000 000 00 00" name="custom_phone")
							.col.col-50.col-mob-100
								.select.col-100._select
									input._i.form__input.v2.form__input_email.mr-0.col-100(type="text" placeholder="Город")
									.select-tri
									.select-box
										.option Город
										.sb-roller.roller._roller(data-scrollbar="true")
											.option._option Москва	
											.option._option Санкт-Петербург	
											.option._option Ростов на Дону	
											.option._option Калуга	
											.option._option Саратов	
											.option._option Владивосток	
											.option._option Норильск	
											.option._option Курск	
											.option._option Екатеринбург	
											.option._option Ростов Великий	
											.option._option Симферополь
											.option._option Город	
											.option._option Москва	
											.option._option Санкт-Петербург	
											.option._option Ростов на Дону	
											.option._option Калуга	
											.option._option Саратов	
											.option._option Владивосток	
											.option._option Норильск	
											.option._option Курск	
											.option._option Екатеринбург	
											.option._option Ростов Великий	
											.option._option Симферополь	
					.indent.i-2.indent__mob_col-mt-1
						.row
							.col.col-50.col-mob-100
								input.form__input.v2.form__input_email.mr-0.col-100(type="text" placeholder="Улица")
							.col.col-25.col-mob-50
								input.form__input.v2.form__input_email.mr-0.col-100(type="text" placeholder="Дом")
							.col.col-25.col-mob-50
								input.form__input.v2.form__input_email.mr-0.col-100(type="text" placeholder="Кв.")
					.indent.i-2.indent__mob_col-mt-1
						.row
							.col.col-50.col-mob-100
								input.form__input.v2.form__input_email.mr-0.col-100(type="text" placeholder="Индекс")
							.col.col-25.col-mob-50
								input.button(type="submit" value="ОК")
				.indent.i-4.indent_pl-t4
					.content-box.content-box__color-1.content-box__links-color-1.item-text__border-none
						p 
							a(href='#') Редактировать
			
			.border-decor.border-decor__parent.border-decor__color-1.item-title__border-none
				h2.how__item-title.how__item-title_tal.item-title__fs-t2.title_color-1 
					span Ваш заказ
				.content-box.content-box__color-1.content-box__links-color-1
					p
						big
							b Метабокардио чекап / 2 шт. / 10 000 руб.
					p
						big 
							b Полный чекап / 1 шт. / 5 000 руб.
				h2.how__item-title.how__item-title_tal.item-title__fs-t2.title_color-1 
					span Итого: 15 000 руб.
		.indent.i-5
			.border-decor.border-decor__parent.border-decor__color-1.item-title__border-none
				h3.how__item-title.how__item-title_tal.item-title__fs-t2.title_color-1 
					span Данные оплаты