section.page-wrapper.section.section_checkup.page_product
	.section__decor
		svg.decor.decor__elem-23(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		svg.decor.decor__elem-24(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		svg.decor.decor__elem-25(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		svg.decor.decor__elem-26(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		svg.decor.decor__elem-27(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		svg.decor.decor__elem-28(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		svg.decor.decor__elem-29(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
	.section__content.page-container.page-container_pad-2.page-container_width-2
		.row.f-middle
			.col.col-59.col-desk-100
				h1.section__title.title.indent_pl-t2 Чекап
					span Метабокардио
			.col.col-41.col-desk-100
				a.button.indent_mlmb-desk-t1(href="./") Купить
		.row
			.col.col-59.col-pad-100.col-desk-45
				.posrel
					img.dev-db-main(src="src-main/images/box.png")
					.decor.decor__circle-1
						img.decor__img(src="src-main/images/icon-metabo.svg")
			.col.col-41.col-pad-100.col-desk-55
				.content-box
					p Сердечно-сосудистые заболевания (ССЗ) являются одной из трех основных причин смертности в мире, и ежегодно эта цифра растет быстрыми темпами. Когда мы говорим о сердечно-сосудистых заболеваниях, то понимаем, что они включают не только инфаркт миокарда, но и другие заболевания сосудов, которые могут угрожать жизни, например, такие как инсульт или заболевания периферических артерий.
					p В данную группу заболеваний свой вклад вносят также наследственные генетические риски и факторы, такие как диета, образ жизни, стресс и уже существующие проблемы со здоровьем. Наш тест <b>Метабокардио</b> чекап позволит провести проверку состояния сердечно-сосудистой системы.
					p <b>Метабокардио</b> чекап основан на анализе сухой крови из пальца и позволяет отследить самые важные изменения сердечно-сосудистой системы с целью выявления какого-либо значимого риска ССЗ  на самых ранних этапах. Кроме того, наша панель включает в себя некоторые индикаторы, предоставляющие дополнительную информацию о вашем состоянии метаболизма. Это означает, что <b>Метабокардио</b> чекап анализирует не только ваши риски сердечно-сосудистых заболеваний, но и дополнительные индикаторы, указывающие на риски развития возможных заболеваний связанных с метаболическим синдромом.