section.page-wrapper.section.page_regulations
	.section__content.page-container.page-container_pad-1
		h1.section__title.title.title_color-1 Правила <span>использования</span>
		.content-box.content-box__color-1.content-box__decor-1
			p Вся информация, находящаяся на сайте, защищена Международными законами об авторском праве и является собственностью компании «Независимые Страховые Консультанты».
			h2 1
			p Любой из материалов сайта может быть опубликован в некоммерческих целях на другом сайте при выполнении следующих условий:
			ul 
				li в тексте должна быть сохранена информация об авторе;
				li в заголовке или в конце опубликованной перепечатки должен быть указан источник — компания «Независимые Страховые Консультанты» (текст и прямая, видимая пользователем, не закрытая от индексирования поисковыми системами гиперссылка на iicon.ru;
				li текст нельзя изменять без согласования с автором;
				li иллюстрации копировать нельзя;
				li в случае, когда републикуется заимствованный материал, ссылку нужно ставить только на первоисточник, указанный в материале.
			h3 2
			p Републикация в виде электронных или печатных книг, газетными, журнальными изданиями или иное тиражирование вне сети Интернет возможно только с письменного согласия и в обязательном порядке требует заключения специальных соглашений. Попытки несанкционированного использования материалов будет преследоваться в судебном порядке.