.icon
	&.ic-about
		w 130px
	&.ic-appstore
		w 170px
		h 57px
	&.ic-appstore-o
		w 170px
		h 57px
	&.ic-round-img
		w 220px			

.decor
	tf(scale(.8))
	&.decor__elem-1
		l -92px
		t -315px
	&.decor__elem-7	
		l -198px
	&.decor__elem-15
		l -102px
	&.decor__elem-22
		w 70px
		t 12px
		l 18px
	&.decor__elem-23
		w 362px
		bottom 0		
	&.decor__elem-24
		w 105px
		l 113px	
		bottom 118px	
	&.decor__elem-25
		w 40px
		l 39px
		bottom 57px
	&.decor__elem-26
		w 322px
		r -100px
	&.decor__elem-27
		w 40px
		t 82px
		r 184px
	&.decor__elem-28
		w 150px
		r 150px		
	&.decor__elem-29
		bottom 72px
		w 30px
	&.decor__elem-30
		l -70px
		t -398px		
		
	&.decor__square-1
		w 430px
		l -400px	
	&.decor__square-2
		w 30px
	&.decor__square-3
		w 120px		
	&.decor__square-4
		w 200px	
	&.decor__square-5
		w 180px	
		
	&.decor__circle-1
		r -1.16vw
		bottom 1.88vw	