.icon
	&.ic-about
		w 130px
	&.ic-appstore
		w 170px
		h 57px
	&.ic-appstore-o
		w 170px
		h 57px		

.decor
	tf(scale(.8))
	&.decor__elem-1
		l -92px
		t -315px
	&.decor__elem-7	
		l -198px
	&.decor__elem-15
		l -102px
	&.decor__elem-22
		w 70px
		t 12px
		l 18px
		
	&.decor__square-1
		w 430px
		l -400px	
	&.decor__square-2
		w 30px
	&.decor__square-3
		w 120px		
	&.decor__square-4
		w 200px	
	&.decor__square-5
		w 180px	