.page-container
	.title
		fsize 1.8rem
		lht 2.0rem
		mb 25px
		span
			fsize 3.5rem
			lht 3.8rem
		
h1, h2, h3, h4, h5, h6			
	&.item-title__fs-t1
		mb 15px

/* list */
ul, ol
	&.list
		&.list_easy 
			li
				& + li
					mt 4px
		&.list_type-1
			li
				&:before
					t 7px
					
.page-wrapper
	.content-box
		ul
			li
				&:before
					t 7px