.button
	tPD(.3s)
	&:hover
		bgColor $color9-1
	&.button_lilac
		&:hover
			bgColor $color6-2	
	&.button__color-1
		bgColor $color3-6
		&:hover
			bgColor $color3-7
	&.button__color-2
		bgColor $color4-4
		&:hover
			bgColor $color4-5
	&.button__px-1
		pl 30px
		pr 30px				