.flex
	dflex() 
.f-between
	justify-content space-between
.f-center
	justify-content center
.f-middle
	align-items center
.f-alItem-start
	aItem start	
.f-grow-1
	flex-grow 1
.f-grow-2
	flex-grow 2
.f-grow-3
	flex-grow 3
.f-shrink-0
	fshrink 0
.f-shrink-1
	fshrink 1
.f-shrink-2
	fshrink 2		
.f-wrap
	flex-wrap wrap