.icon
	dinblock()
	vertical-align: top
	bgPos(center)
	bgNR()
	bgSize(contain)
	tPD(.3s)
	&.icon-db 
		dblock()
	&.ic-about
		w 164px
		vAl top		
	&.ic-appstore
		w 210px
		h 68px						
		bgImg url(pics/icons/appstore.svg)
	&.ic-appstore-o
		w 210px
		h 68px						
		bgImg url(pics/icons/appstore-o.svg)	
			
.ava
	dinblock()
	vertical-align top
	w 50px
	h 50px
	bRad(50%)
	b(2px solid $color1-1)
	bbox()
	bgPos(center)
	bgSize(cover)
	bgNR()
	

/* animate decor */	
.decor
	posabs()
	zIn 1
	tPD(.3s)
	&.decor__elem-1
		w 570px
		fill $color7-1
		t -285px
		l -12px
	&.decor__elem-2
		w 60px
		fill $color6-1
		bottom 50%
		l -20px
	&.decor__elem-3
		w 38px
		fill $color8-1
		bottom 33.33%
		mb -90px
		l 155px
	&.decor__elem-4
		w 60px
		fill $color8-1
		t 33.33%
		mt 124px
		r -30px
	&.decor__elem-5
		w 90px
		fill $color4-4
		t 33.33%
		mt 189px
		r 72px
	&.decor__elem-6
		w 70px
		fill $color7-1
		bottom -35px
		r 125px					
	&.decor__elem-7
		w 982px
		fill $color7-1
		t -145px
		r 50%
		mr -122px
	&.decor__elem-8
		w 25px
		fill $color8-1
		t 69px
		l 162px
		zIn 2
	&.decor__elem-9
		w 25px
		fill $color6-1
		bottom 52px
		l 50%
		ml 90px
	&.decor__elem-10
		w 321px
		fill $color6-1
		bottom 0
		l 50%
		ml 90px
		mb -259px
	&.decor__elem-11
		w 100px
		fill $color8-1
		t 40px
		r 25%
		mr 35px	
	&.decor__elem-12
		w 50px
		fill $color7-1
		t 119px
		r 25%
		mr -26px
	&.decor__elem-13
		w 554px
		fill $color4-4
		t -189px
		r -104px		
	&.decor__elem-14
		w 77px
		fill $color4-4
		bottom -39px
		r 145px
	&.decor__elem-15
		w 570px
		fill $color7-1
		t -440px
		l -12px
	&.decor__elem-16
		w 60px
		fill $color6-1
		bottom 150px
		l -22px
	&.decor__elem-17
		w 25px
		fill $color8-1
		bottom 28px
		l 124px
	&.decor__elem-18
		w 90px
		fill $color4-4
		t 58px
		r 8.26%
	&.decor__elem-19
		w 40px
		fill $color8-1
		t 63px
		r 7.26%
		zIn 2
	&.decor__elem-20
		w 60px
		fill $color8-1
		bottom 270px
		r -30px
	&.decor__elem-21
		w 70px
		fill $color7-1
		bottom 155px
		r -8px
	&.decor__elem-22
		w 87px
		fill $color7-1
		t 31px
		l 41px
	&.decor__elem-23
		w 442px
		fill $color6-1
		l -221px
		bottom 27px
	&.decor__elem-24
		w 145px
		fill $color6-1
		l 263px
		bottom 173px
	&.decor__elem-25
		w 70px
		fill $color7-1
		l 129px
		bottom 74px
		zIn 2
	&.decor__elem-26
		w 372px
		fill $color7-1
		r -40px
		t -146px
	&.decor__elem-27
		w 70px
		fill $color7-1
		r 334px
		t 118px
	&.decor__elem-28
		w 200px
		fill $color6-1
		r 259px
		bottom 0
	&.decor__elem-29
		w 37px
		fill $color7-1
		r 25px
		bottom 100px							
	
	&.decor__img-1
		t 0
		r 0
		w 52vw
		maxWth 998px
		zIn 2
	
	&.decor__square-1
		w 563px
		fill $color6-1
		t 288px
		l -420px
		tf(rotate(20deg))
	&.decor__square-2
		w 40px
		fill $color8-1
		t 314px
		l 7.5%
		tf(rotate(60deg))
	&.decor__square-3
		w 185px
		fill $color4-4
		bottom 360px
		r 28.4%
		tf(rotate(30deg))
	&.decor__square-4
		w 300px
		fill $color4-4
		bottom 125px
		r 10px
		tf(rotate(45deg))
	&.decor__square-5
		w 260px
		fill $color7-1
		bottom -35px
		r 24.32%
		tf(rotate(37deg))
	
	&.decor__circle-1
		w 12.21vw
		h 12.21vw
		bRad 50%
		bgColor $color7-1 
		r 0.84vw
		bottom 5.88vw
		dflex()
		aItem center
		jcont center
		bshad $shad2
		.decor__img
			w 64.65%
			vAl top 	
												
		
/* border decor */
.border-decor	
	&.border-decor__child
		p
			posrel()
			pt 19px
			&:before
				content ''
				posabs()
				w 44px
				h 4px
				l 0
				t 0
				dblock()
				bgColor $color1-1
	&.border-decor__parent
		posrel()
		pt 19px
		&:before
			content ''
			posabs()
			w 44px
			h 4px
			l 0
			t 0
			dblock()
			bgColor $color1-1
	&.border-decor__even
		&.border-decor__child
			p
				&:nth-child(odd)
					pt 0
					&:before					
						content none
		&.border-decor__parent			
			&:nth-child(odd)
				pt 0
				&:before					
					content none
	&.border-decor__odd
		&.border-decor__child
			p
				&:nth-child(even)
					pt 0
					&:before					
						content none
		&.border-decor__parent
			&:nth-child(even)
				pt 0
				&:before					
					content none										
	&.border-decor__tac
		&.border-decor__child
			p
				&:before
					l 50%
					ml -22px
		&.border-decor__parent
			&:before
				l 50%
				ml -22px				
	&.border-decor__color-1
		&.border-decor__child
			p
				&:before
					bgColor(($color4-4)imp())
		&.border-decor__parent
			&:before
				bgColor(($color4-4)imp())
	&.border-decor__color-2
		&.border-decor__child
			p
				&:before
					bgColor(($color6-1)imp())
		&.border-decor__parent
			&:before
				bgColor(($color6-1)imp())
	&.border-decor__color-3
		&.border-decor__child
			p
				&:before
					bgColor(($color7-1)imp())
		&.border-decor__parent
			&:before
				bgColor(($color7-1)imp())