.indent
	& + .indent
		mt 44px
	&.i-1	
		& + .indent.i-1
			mt 10px
	&.i-2	
		& + .indent.i-2
			mt 30px
	&.i-3	
		& + .indent.i-3
			mt 50px
	&.i-4	
		& + .indent.i-4
			mt 40px							
		
.indent_pl-t1
	bbox()
	pl 50px	
	
.indent_pl-t2
	bbox()
	pl 9.21vw
	
.indent_pl-t3
	bbox()
	pl 60px	
	
.indent_pl-t4
	bbox()
	pl 28px					
	
.indent_pr-t1
	bbox()
	pr 68px
	
.indent_px-1
	pl 10px
	pr 10px	
	bbox()
	
.indent_mlmt-1
	ml 20px

.indent_ml-1
	ml -12px
	
.indent_ml-2
	ml 20%		
	
.indent_mr-1
	mr 48px

.indent_mr-2
	mr 30px	