input, div, textarea, select
	&.i
		dinblock()
		vertical-align top
		tPD(.3s) 
		b(1px solid $color3-3)
		bgColor $color1-1
		bRad(3px)
		p 12px 
		bbox()
		fsize 16px
		lht 1.35
		c $color3-2
		posrel()
		+pholder()
			c $color3-3
			
.form__input
	&.v2
		bbox()
		outline none
		fgrow 0
		&.form__input_width-1
			maxWth 280px
			w 100%
			
.select
	dinblock()
	vertical-align top
	posrel()	
	.i
		w 100%			
		zIn 1
	.form__input
		pr 50px	 
	.select-tri
		posabs()
		zIn 3
		w 72px
		h 100%
		t 0
		r 0 
		&:before
			content ''
			posabs()
			cursor pointer
			t 50%
			l 50%
			bt(12px solid $color3-2)
			bl(6px solid transparent)
			br(6px solid transparent)
			bb 0
			ml -6px
			mt -4px
			tPD(.3s)
			crossB(transform-origin,50% 50%)
			tf(rotate(-90deg))
	.select-box
		posabs()
		zIn 2
		t 10px
		l 10px
		r 10px		
		bgColor $color1-1
		bshad($shad3)
		overflow hidden		
		op 0
		tPD(.3)
		visibility hidden		
		& > .option	
			bgColor $color3-9
		.sb-roller
			posrel()
			maxHt 288px			
		.option			
			p(5px 35px 5px 20px)
			bbox()
			fsize 100%
			lht 1.3
			c $color3-5
			cursor pointer
			tPD(.3s)
			&:hover				
				c $color4-4
			&:nth-child(even)
				bgColor $color3-9				
		.roller 
			.scrollbar-track-y
				r 21px
				//t 32px
				//pt 32px				
				w 10px
				//h calc(100% - 32px)
				//h auto
				//bottom 0
				/*&:before
					t 32px
					h calc(100% - 32px)*/
				&.show 
					.scrollbar-thumb-y	
						h 32px		
			.scrollbar-track-x
				h 10px	
			.scrollbar-thumb
				w 10px
				h 10px
				bRad 5px
				bgColor $color3-6
	&.open
		.select-box
			op 1
			visibility visible
		.select-tri
			&:before
				tf(rotate(0deg))
	&.select_minw1
		minWth 215px			
			
.chexbox
	posrel()
	dinblock()
	vertical-align top
	.checkbox-work
		posabs()
		w 100%
		h 100%
		t 0
		l 0
		op 0
		zIn 2
		m 0
	.checkbox-work:checked + .chechbox-fake
		bgImg url(pics/icons/checker.svg)
	.chechbox-fake
		posrel()		
		dblock()
		zIn 1
		w $checkbox-size
		h $checkbox-size
		bgPos(center)
		bgSize(65%)
		bgNR()
		bbox()
		b(1px solid $color3-3)
		bRad(4px)
		

.counter
	dflex()  
	button
		w 35px
		h 35px
		bRad 50%
		cursor pointer
		tP(.3s)
		bgPos center
		bgNR()
		b 0
		bgSize 15px	
		&.counter__minus
			bgColor $color4-4
			bgImg url(pics/icons/minus.svg)
		&.counter__plus
			bgColor $color7-1
			bgImg url(pics/icons/plus.svg)
		&.disable
			pEvent none
			bgColor $color3-8
		&:focus
			outline none		
	.counter__count
		fsize 25px
		c $color3-5
		b(0)
		bgColor transparent
		w 54px
		tcenter()
		bbox()
		pEvent none
		&:focus
			outline none		