.faq__list
	.faq__item
		ml -20px
		mr -20px
		pl 20px
		pr 20px
		tPD(.3s)
		&.selected
			bgColor $color1-1
		& + .faq__item
			mt 10px
	.faq__head
		pt 12px
		pb 12px
		cPoint()
	.faq__body
		pt 22px			
		pb 22px
		bt(2px solid $color4-4)			
	.faq__txt-1
		fsize 113%
		c $color4-4
		ffam GB,sans-serif
	.faq__txt-2
		fsize 113%
		c $color3-5
		b, strong
			ffam GB,sans-serif