.cookie._cookie.active
	.cookie__container
		.cookie__txt Этот сайт использует cookies для улучшения пользовательского опыта. Используя Diagnost.com вы соглашаетесь <a href="#">с политикой</a> их использования. 
		.cookie__delimiter.f-shrink-0
		.icon.ic-close.cookie__close._cookie__close.f-shrink-0