header.navi.navi_top(data-top_offset='50', data-bg_color='#5922e1')
  .navi__container
    span.menu-open
    ul.navi__menu.menu
      span.menu-close
      li.menu-item
        a(href='./') Главная
      li.menu-item.menu-item-has-children
        a(href='./') Принципы работы
        ul.sub-menu
          li.menu-item
            a(href='./') Consectetur
          li.menu-item
            a(href='./') Adipisicing
          li.menu-item
            a(href='./') Reprehenderit
          li.menu-item
            a(href='./') Ipsum dolor
      li.menu-item.menu-item-has-children
        a(href='./') Чекапы
        ul.sub-menu
          li.menu-item
            a(href='./') Базовый
          li.menu-item
            a(href='./') Полный
          li.menu-item
            a(href='./') Метабокардио
          li.menu-item
            a(href='./') Сон
          li.menu-item
            a(href='./') Витамин D
      li.menu-item
        a(href='./') Приложение
      li.menu-item
        a(href='./') FAQ
      li.menu-item
        a(href='./') О нас
      li.menu-item
        a(href='./') Контакты
    .navi__lang
      a.navi__lang-active(href='./') RU
      a(href='./') EN
    a.navi__login(href='./')
    a.navi__cart(href='./')
      span.navi__cart-counter.navi__cart-counter_noempty 99

