.navi.navi_top.navi_colored
  .navi__container
    ul.navi__menu
      li.navi__menu-item
        a(href='./') Главная
      li.navi__menu-item.navi__menu-item_haschild
        a(href='./') Принципы работы
      li.navi__menu-item.navi__menu-item_haschild
        a(href='./') Чекапы
        ul.navi__submenu
          li.navi__submenu-item
            a(href='./') Базовый
          li.navi__submenu-item
            a(href='./') Полный
          li.navi__submenu-item
            a(href='./') Метабокардио
          li.navi__submenu-item
            a(href='./') Сон
          li.navi__submenu-item
            a(href='./') Витамин D
      li.navi__menu-item
        a(href='./') Приложение
      li.navi__menu-item
        a(href='./') FAQ
      li.navi__menu-item
        a(href='./') О нас
      li.navi__menu-item
        a(href='./') Контакты
    .navi__lang
      a.navi__lang-active(href='./') RU
      a(href='./') EN
    a.navi__login(href='./')
    a.navi__cart.navi__cart_notempty(href='./')