.page-wrapper.section
	&.page_plus	
		pb 36px
.page_plus
	bgColor $color1-1
	&.page_plus__back-2
		bgColor $color1-2		
	.page-container
		pt 46px
	.how__item
		&:after
			content none
	.section__content_wide
		maxWth 1800px		