$WIDTH= 1440px;
$MIN_WIDTH = 320px

$checkbox-size = 21px

$TIME= 0.35s;
$TIME3= $TIME/3;

$COLOR = #222
$BORDER = 1px solid #dedede

$device_size_full = 1920px;
$device_size_lap = 1440px;
$device_size_desk = $WIDTH + 17;
$device_size_pad = 1024px;
$device_size_mob = 767px;

$device_suff_full = '-full';
$device_suff_lap = '-lap';
$device_suff_desk = '-desk';
$device_suff_pad = '-pad';
$device_suff_mob = '-mob';


//colors
//white
$color1-1 = #fff
$color1-2 = #f5f5f5

//black
$color2-1 = #000

//gray
$color3-1 = #0e1419
$color3-1-t1 = rgba(14, 20, 25, 0.4);
$color3-1-t2 = rgba(14, 20, 25, 0.5);
$color3-1-t3 = rgba(14, 20, 25, 0.8);
$color3-1-t4 = rgba(14, 20, 25, 0.6);
$color3-2 = #2f3032
$color3-2-t1 = rgba(47, 48, 50, 0.79)
$color3-3 = #a5a5a5
$color3-4 = #e7f3ff
$color3-4-t1 = rgba(231, 243, 255, 0.15)
$color3-5 = #4f5358

//blue
$color4-1 = #dceeff
$color4-1-t1 = rgba(220, 238, 255, 0.3)
$color4-1-t2 = rgba(220, 238, 255, 0.6)
$color4-1-t3 = rgba(220, 238, 255, 0.25)
$color4-1-t4 = rgba(220, 238, 255, 0.4)
$color4-2 = #c6e3ff
$color4-2-t1 = rgba(198, 227, 255, 0.31)
$color4-2-t2 = rgba(198, 227, 255, 0.12)
$color4-3 = #cceaff
$color4-3-t1 = rgba(204, 234, 255, 0.1)
$color4-4 = #3767f6

//green
$color5-1 = #4FC95C

//purple
$color6-1 = #5922e1

//pink
$color7-1 = #fb2a69

//aqua
$color8-1 = #00ffff


//shadows
$shad1 = 0 0 2px $color4-1-t1


//gradient
$grad1 = $color4-4 0, $color6-1 100%