.popups-box
	posfix()
	t 0
	l 0
	w 100%
	h 100% 
	zIn 200
	pointer-events: none
	op 0
	tPD(.3s)	
	dflex()
	overflow auto 
	flex-wrap wrap
	align-items center
	justify-content center	
	&.show
		pointer-events auto
		op 1
	.popup-bg
		posabs()
		t 0
		l 0 
		w 100%
		h 100% 
		zIn 205
		dflex()
		justify-content flex-end
		p 30px
		bbox()
		bgColor $color4-4
		lgrad($grad1, 90deg)
		op .6
	.popup-item
		posrel()
		zIn 210
		bgColor $color1-1
		p(80px 35px 90px 100px)
		bbox()
		dnone()
		ov hidden
		&.popup-item__width-1
			w 90%
			maxWth 1454px
		&.show 
			dblock()	
		.popup-close
			posabs()
			t 57px
			r 35px
			zIn 2
		.title
			lht 1
			fsize 25px
			mb 20px
			span
				fsize 100%
				lht 100%
		p
			mb 20px
			fsize 17px
			ffam(GL,sans-serif)
			lht 1.4
			tali justify
		.scrollbar-track-y.show
			display block !important
			.scrollbar-thumb-y
				h 53px			
	.popup-close
		w 35px
		h 35px
		bgPos(center)
		bgNR()
		bgSize(16px)
		tPD(.3s)
		bRad 50%
		bgColor $color7-1
		cursor pointer
		bgImg url(pics/icons/close2.svg)
	.popup-content
		posrel()
		zIn 5	