@import "././src-main/style.css"

@import "C:\lib_semen\mixins.styl" 
@import "globals";

//@import "ui/fonts";

@import "common"; 
@import "popups";

@import "ui/text";
@import "ui/icons";
@import "ui/display";
@import "ui/nav"; 
@import "ui/input";
@import "ui/indent";

@import "blocks/about";
@import "blocks/partner";