footer.footer.footer_fix-bottom
  .footer__content
    .footer__subscribe
      h2.title.title_footer.footer__title
        | Подпишитесь на нашу 
        span рассылку
      p
        | Актуальные новости по теме здорового образа жизни и эксклюзивные предложения от нашей компании.
      form.footer__subscribe-form.form.form_subscribe(action='./')
        input.form__input.form__input_email(type='email', placeholder='Email')
        input.form__submit.button(type='submit', value='Ok')
    .footer__social
      h2.title.title_footer.footer__title
        | Мы в социальных 
        span сетях
      p Следите за развитием нашей платформы в удобном для вас формате
      .footer__social-items.social.social_footer
        a.social__facebook(href='./')
        a.social__instagram(href='./')
        a.social__twitter(href='./')
        a.social__youtube(href='./')
  .footer__navi.navi.navi_footer
    .navi__container
      ul.navi__menu.menu
        li.menu-item
          a(href='./') Главная
        li.menu-item.menu-item-has-children
          a(href='./') Принципы работы
          ul.sub-menu
            li.menu-item
              a(href='./') Consectetur
            li.menu-item
              a(href='./') Adipisicing
            li.menu-item
              a(href='./') Reprehenderit
            li.menu-item
              a(href='./') Ipsum dolor
        li.menu-item.menu-item-has-children
          a(href='./') Чекапы
          ul.sub-menu
            li.menu-item
              a(href='./') Базовый
            li.menu-item
              a(href='./') Полный
            li.menu-item
              a(href='./') Метабокардио
            li.menu-item
              a(href='./') Сон
            li.menu-item
              a(href='./') Витамин D
        li.menu-item
          a(href='./') Приложение
        li.menu-item
          a(href='./') FAQ
        li.menu-item
          a(href='./') О нас
        li.menu-item
          a(href='./') Контакты
      .navi__lang
        a.navi__lang-active(href='./') RU
        a(href='./') EN
  .section__content.section__content_footer.footer__bottom
    .footer__bottom-copy © 2020 Health Monitor Consulting Ltd
    .footer__bottom-developed
      | Developed by 
      a(href='./')