doctype html
html
  head
    meta(name='viewport' content='width=device-width,initial-scale=1.0')
    meta(http-equiv='content-type' content="text/html; charset=utf-8")
    meta(name='keywords' content="")
    meta(name='description' content="")
    title Новый сайт        
    link(href="style.css" rel="stylesheet" type="text/css" )
    link(rel="icon" href="favicon.png" type="image/x-icon")
    link(rel="shortcut icon" href="favicon.png" type="image/x-icon")    
    link(rel="stylesheet" href="lib/perfect-scrollbar/css/perfect-scrollbar.css")        
  body 
    -foreach($SECTIONS as $k=>$v) {
      - include_once(dirname(__FILE__).'/'.$v.'.php');
    -}
    include popups
    script(src="js/jquery-3.5.1.js")
    script(src="src-main/common.js")
    script(src="js/all.js")
    script(src="lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js")    