.popups-box._popup-box
	.popup-bg._popup-cls
	.popup-item.popup-item__width-1._popup-item(data-popup="i1")
		svg.decor.decor__elem-22(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		.popup-close._popup-cls
		.popup-content
			h2.title.title_color-1.border-decor.border-decor__parent.border-decor__color-2
				span Креатинин
			.roller.roller__height-1._roller(data-scrollbar="true")
				.indent_pr-t1
					p <span class="t t-color3">Что это такое?</span><br> Креатинин является продуктом распада креатина в мышечной ткани и обеспечивает энергию для сокращения мышц. Почти весь креатин вырабатывается в почках, поэтому его концентрация в крови является надежным показателем их функции. Количество вырабатываемого креатина зависит от массы тела человека (в частности, мышечной массы). Мужчины, как правило, имеют более высокий уровень креатинина, чем женщины.
					p <span class="t t-color3">Что может означать низкий уровень креатинина? </span><br>Может быть несколько симптомов или последствий, по которым у вас низкий уровень креатинина, таких как голодание, чрезмерное употребление жидкости или снижение функции почечной фильтрации. Во всех этих условиях вам следует обратиться к врачу.
					p <span class="t t-color3">Что может означать высокий уровень креатинина? </span><br>Высокий уровень креатинина может быть в случае чрезмерной физической активности, чрезмерного потребления мяса или приема нейротоксичных лекарств. Это может быть признаком обезвоживания, острой и хронической почечной недостаточности, амилоидоза или повреждения почек при диабете. Чрезвычайно высокий уровень креатинина может быть связан с недостаточностью сердечно-сосудистой системы, а также с массивным разрушением мышечной ткани или повреждением почечных канальцев, которое может возникнуть из-за инфекционных или аутоиммунных заболеваний, и как результат высвобождение большого количества креатина из клеток в кровь.
					p <span class="t t-color3">Что это такое?</span><br> Креатинин является продуктом распада креатина в мышечной ткани и обеспечивает энергию для сокращения мышц. Почти весь креатин вырабатывается в почках, поэтому его концентрация в крови является надежным показателем их функции. Количество вырабатываемого креатина зависит от массы тела человека (в частности, мышечной массы). Мужчины, как правило, имеют более высокий уровень креатинина, чем женщины.
					p <span class="t t-color3">Что может означать низкий уровень креатинина? </span><br>Может быть несколько симптомов или последствий, по которым у вас низкий уровень креатинина, таких как голодание, чрезмерное употребление жидкости или снижение функции почечной фильтрации. Во всех этих условиях вам следует обратиться к врачу.
					p <span class="t t-color3">Что может означать высокий уровень креатинина? </span><br>Высокий уровень креатинина может быть в случае чрезмерной физической активности, чрезмерного потребления мяса или приема нейротоксичных лекарств. Это может быть признаком обезвоживания, острой и хронической почечной недостаточности, амилоидоза или повреждения почек при диабете. Чрезвычайно высокий уровень креатинина может быть связан с недостаточностью сердечно-сосудистой системы, а также с массивным разрушением мышечной ткани или повреждением почечных канальцев, которое может возникнуть из-за инфекционных или аутоиммунных заболеваний, и как результат высвобождение большого количества креатина из клеток в кровь.
						
.popups-box._popup-box
	.popup-bg._popup-cls
	.popup-item.popup-item__width-2._popup-item(data-popup="f1")
		svg.decor.decor__elem-31(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		.popup-close._popup-cls
		.popup-content
			h2.title.title_color-1.border-decor.border-decor__parent.border-decor__color-2
				span Восстановление пароля			
			input.form__input.v2.form__input_email.mr-0.col-100(type="email" placeholder="Введите ваш Еmail")
			.popup__txt-1 Укажите адрес эл. почты, который вы использовали при оформлении заказов. Мы вышлем вам инструкцию по восстановлению пароля.
			.tac
				button.button ВОССТАНОВИТЬ ПАРОЛЬ
				.mt-26
					span.t.t-fs17.t-color6._open-popup.pointer(data-link-to-popup="f2") Вернуться назад
	.popup-item.popup-item__width-3._popup-item(data-popup="f2")
		svg.decor.decor__elem-31(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		.popup-close._popup-cls
		.popup-content
			h2.title.title_color-1.border-decor.border-decor__parent.border-decor__color-2
				span Вход
			.popup__soc-auth.flex.f-between.f-middle
				.icon.ic-soc.ic-facebook.pointer
				.icon.ic-soc.ic-instagram.pointer
				.icon.ic-soc.ic-google.pointer
			input.form__input.v2.form__input_email.mr-0.col-100(type="text" placeholder="Логин")
			input.form__input.v2.form__input_email.mr-0.col-100(type="password" placeholder="Пароль")
			.popup__txt-2 Неверный пароль 
			.tac
				button.button.button__color-1 ВОЙТИ
				.mt-26
					a.t.t-fs17.t-color6._popup-cls(href="#") Вернуться назад
				.mt-20
					span.t.t-fs17.t-color6._open-popup.pointer(data-link-to-popup="f3") Регистрация
	.popup-item.popup-item__width-3._popup-item(data-popup="f3")
		svg.decor.decor__elem-31(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100")
			circle(cx="50" cy="50" r="50")
		.popup-close._popup-cls
		.popup-content
			h2.title.title_color-1.border-decor.border-decor__parent.border-decor__color-2
				span Регистрация				