.popups-box._popup-box
	.popup-bg._popup-cls
		.popup-close
	.popup-item._popup-item(data-popup="1") 
		h2 Обратный звонок		
		input(type="text" placeholder="Имя")
		input(type="text" placeholder="Телефон")
		input(type="submit" value="Перезвонить")
	.popup-item._popup-item(data-popup="2")
		h2 Поблагодарить персонал!		
		textarea(placeholder="Напишите ваш текст...")
		input(type="submit" value="Перезвонить")
