.icon
	&.ic-about
		w 60px
	&.ic-appstore
		w 120px
		h 40px
	&.ic-appstore-o
		w 120px
		h 40px
	&.ic-round-img
		w 60px			
		
.decor
	tf(scale(.5))
	&.decor__elem-3
		l 35px
	&.decor__elem-4
		r -40px
	&.decor__elem-6
		r 25px	
	&.decor__elem-7
		t -240px
		l -220px
	&.decor__elem-13
		w 400px
	&.decor__elem-16
		l -37px
	&.decor__elem-20
		r -35px
	&.decor__elem-21
		r -28px			
	&.decor__elem-22
		w 50px
		l -6px
		t -4px
	&.decor__elem-24
		l 33px
	&.decor__elem-25
		l 1px
		bottom 40px		
	&.decor__elem-27
		t 23px
		r 90px	
	&.decor__elem-28
		r 30px
	&.decor__elem-29
		bottom 52px
	&.decor__elem-30
		l -140px
		t -349px		

	&.decor__square-1
		w 200px
		l -150px
	&.decor__square-2
		w 20px
		t 264px
	&.decor__square-3
		w 60px
	&.decor__square-4
		w 100px
	&.decor__square-5
		w 90px
		bottom -25px		

.border-decor	
	&.border-decor__child
		p
			pt 12px
			&:before
				w 35px
				h 3px				
	&.border-decor__parent
		pt 12px
		&:before
			w 35px
			h 3px			