.icon
	&.ic-about
		w 90px
	&.ic-round-img
		w 150px			
	&.ic-soc
		w 32px
		h 32px
	&.ic-product
		w 45px
		h 45px
	&.ic-checkup
		w 45px
		h 45px			
	&.ic-close2
		w 15px
		h 15px	
		
.decor
	tf(scale(.6))
	&.decor__elem-1
		l -142px
		t -345px
	&.decor__elem-3
		l 105px	
	&.decor__elem-7	
		tf(scale(.7))
		l -210px
		t -230px
	&.decor__elem-13
		w 450px
		r -200px
		t -210px
	&.decor__elem-15
		l -170px
		t -390px		
	&.decor__elem-16
		l -32px	
	&.decor__elem-18
		t 18px	
	&.decor__elem-19
		t 13px
	&.decor__elem-22
		w 60px
		t 6px
		l 4px
	&.decor__elem-23
		w 342px
		bottom -50px
		l -211px
	&.decor__elem-24
		l 53px
		bottom 48px		
	&.decor__elem-25
		l 23px
		bottom 42px
	&.decor__elem-26
		w 272px
	&.decor__elem-27
		t 27px
		r 104px			
	&.decor__elem-28
		w 120px
		r 60px
	&.decor__elem-29
		bottom 54px
		r 15px
	&.decor__elem-30
		l -120px
		t -370px	
	&.decor__elem-31
		l 2px
		t 7px
	&.decor__elem-32
		l -200px
		t -370px					
		
	&.decor__square-1
		w 300px
		l -220px
	&.decor__square-2
		w 25px
	&.decor__square-3
		w 80px
	&.decor__square-4
		w 140px
	&.decor__square-5
		w 120px	
		bottom -15px		

	&.decor__img-1
		dnone()	
		
	&.decor__circle-1
		w 25.21vw
		h 25.21vw
		r -5.16vw
		bottom 3.88vw