.indent_pl-t1
	pl 30px
.indent_pl-t3
	pl 30px	

.indent_pr-t1
	pr 40px	
	
.indent_px-1
	pl 5px
	pr 5px	
	
.indent_ml-1
	ml 0
		
.indent_mr-1
	mr 10px	
	
.indent_mr-3
	mr 0
	pb 30px	
	
.indent_ml-2
	ml 0	