.page-container
	.title
		fsize 1.6rem
		lht 1.8rem
		mb 25px
		span
			fsize 2.6rem
			lht 2.9rem
			
/* list */
ul, ol
	&.list
		&.list_type-1
			li
				pl 12px
				&:before
					w 4px
					h 4px
					t 8px			