.page-container
	&.page-container_pad-1
		pl 55px
		pr 55px
	p
		mb 20px
	
.page-wrapper
	&.section
		fsize .8rem
		lht 1.3rem
	.section__article
		maxWth 500px	
.section__article
	&.section__article_width-1
		maxWth 530px

.social
	&.social__box
		pt 6px
		pl 6px
		pr 6px
		& > a
			mb 6px
		
.fake-head
	h 140px		